env/
wenv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

temp/
static/bulletin/*.pdf
static/bulletin/Converted_files/
static/temp/
static/*.png
static/bulletin/*.png
static/bulletin/*.docx

templates/~*.docx

static/*.qmd
static/*.db
*Thumbs.db
*.lock
*.pyBACK

dist/
build/
*.egg-info/

.streamlit/secrets.toml
.streamlit/authentication.yaml

gitstat_result.json