env/
wenv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

temp/
static/bulletin/*.pdf
static/bulletin/Converted_files/
static/temp/

dist/
build/
*.egg-info/

.streamlit/secrets.toml
.streamlit/authentication.yaml

gitstat_result.json